In [33]:
from zipfile import ZipFile
import pandas as pd

In [41]:
! wget http://databank.worldbank.org/data/download/FINDEX_CSV.zip

--2019-07-01 12:03:07--  http://databank.worldbank.org/data/download/FINDEX_CSV.zip
Resolving databank.worldbank.org... 192.86.98.102
Connecting to databank.worldbank.org|192.86.98.102|:80... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://databank.worldbank.org/data/download/FINDEX_CSV.zip [following]
--2019-07-01 12:03:07--  https://databank.worldbank.org/data/download/FINDEX_CSV.zip
Connecting to databank.worldbank.org|192.86.98.102|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 427 [text/html]
Saving to: ‘FINDEX_CSV.zip’

FINDEX_CSV.zip      100%[===================>]     427  --.-KB/s    in 0s

2019-07-01 12:03:08 (12.7 MB/s) - ‘FINDEX_CSV.zip’ saved [427/427]

In [42]:
# unzip the file
path_to_zip_file = ('FINDEX_CSV.zip')

In [46]:
zf = ZipFile(path_to_zip_file, 'r')
zf.extractall('\FINDEX_CSV\FINDEXCountry-Series.csv')

In [58]:
global_inclusion = pd.read_excel('FINDEXEXCEL.xlsx')

In [63]:
global_inclusion

,Country Name,Country Code,Indicator Name,Indicator Code,2011,2014,2017
0,Central America (excluding high income),CAM,Account (% age 15+),account.t.d,NaN,NaN,NaN
1,Central America (excluding high income),CAM,"Account, female (% age 15+)",account.t.d.2,NaN,NaN,NaN
2,Central America (excluding high income),CAM,"Account, in labor force (% age 15+)",account.t.d.10,NaN,NaN,NaN
3,Central America (excluding high income),CAM,"Account, income, poorest 40% (% ages 15+)",account.t.d.7,NaN,NaN,NaN
4,Central America (excluding high income),CAM,"Account, income, richest 60% (% ages 15+)",account.t.d.8,NaN,NaN,NaN
5,Central America (excluding high income),CAM,"Account, male (% age 15+)",account.t.d.1,NaN,NaN,NaN
6,Central America (excluding high income),CAM,"Account, older adults (% ages 25+)",account.t.d.4,NaN,NaN,NaN
7,Central America (excluding high income),CAM,"Account, out of labor force (% age 15+)",account.t.d.11,NaN,NaN,NaN
8,Central America (excluding high income),CAM,"Account, primary education or less (% ages 15+)",account.t.d.5,NaN,NaN,NaN
9,Central America (excluding high income),CAM,"Account, rural (% age 15+)",account.t.d.9,NaN,NaN,NaN
10,Central America (excluding high income),CAM,"Account, secondary education or more (% ages 15+)",account.t.d.6,NaN,NaN,NaN
11,Central America (excluding high income),CAM,"Account, young adults (% ages 15-24)",account.t.d.3,NaN,NaN,NaN
12,Central America (excluding high income),CAM,Borrowed any money in the past year (% age 15+),fin23.t.d,NaN,NaN,NaN
13,Central America (excluding high income),CAM,"Borrowed any money in the past year, female (%...",fin23.t.d.2,NaN,NaN,NaN
14,Central America (excluding high income),CAM,"Borrowed any money in the past year, in labor ...",fin23.t.d.10,NaN,NaN,NaN
15,Central America (excluding high income),CAM,"Borrowed any money in the past year, income, p...",fin23.t.d.7,NaN,NaN,NaN
16,Central America (excluding high income),CAM,"Borrowed any money in the past year, income, r...",fin23.t.d.8,NaN,NaN,NaN
17,Central America (excluding high income),CAM,"Borrowed any money in the past year, male (% ...",fin23.t.d.1,NaN,NaN,NaN
18,Central America (excluding high income),CAM,"Borrowed any money in the past year, older adu...",fin23.t.d.4,NaN,NaN,NaN
19,Central America (excluding high income),CAM,"Borrowed any money in the past year, out of la...",fin23.t.d.11,NaN,NaN,NaN
20,Central America (excluding high income),CAM,"Borrowed any money in the past year, primary e...",fin23.t.d.5,NaN,NaN,NaN
21,Central America (excluding high income),CAM,"Borrowed any money in the past year, rural (%...",fin23.t.d.9,NaN,NaN,NaN
22,Central America (excluding high income),CAM,"Borrowed any money in the past year, secondary...",fin23.t.d.6,NaN,NaN,NaN
23,Central America (excluding high income),CAM,"Borrowed any money in the past year, young adu...",fin23.t.d.3,NaN,NaN,NaN
24,Central America (excluding high income),CAM,Borrowed for education or school fees (% age 15+),fin22a.14.a,NaN,NaN,NaN
25,Central America (excluding high income),CAM,"Borrowed for education or school fees , out of...",fin22a.14.a.11,NaN,NaN,NaN
26,Central America (excluding high income),CAM,"Borrowed for education or school fees, female ...",fin22a.14.a.2,NaN,NaN,NaN
27,Central America (excluding high income),CAM,"Borrowed for education or school fees, in labo...",fin22a.14.a.10,NaN,NaN,NaN
28,Central America (excluding high income),CAM,"Borrowed for education or school fees, income,...",fin22a.14.a.7,NaN,NaN,NaN
29,Central America (excluding high income),CAM,"Borrowed for education or school fees, income,...",fin22a.14.a.8,NaN,NaN,NaN
...,...,...,...,...,...,...,...
141978,Zimbabwe,ZWE,Used the internet to buy something online in t...,fin14b.a.11,NaN,NaN,3.350055
141979,Zimbabwe,ZWE,Used the internet to buy something online in t...,fin14b.a.5,NaN,NaN,0.000000
141980,Zimbabwe,ZWE,Used the internet to buy something online in t...,fin14b.a.9,NaN,NaN,1.730250
141981,Zimbabwe,ZWE,Used the internet to buy something online in t...,fin14b.a.6,NaN,NaN,5.977172
141982,Zimbabwe,ZWE,Used the internet to buy something online in t...,fin14b.a.3,NaN,NaN,3.502539
141983,Zimbabwe,ZWE,Used the internet to pay bills in the past yea...,fin14a.a,NaN,NaN,7.445566
141984,Zimbabwe,ZWE,Used the internet to pay bills in the past yea...,fin14a.a.2,NaN,NaN,5.299791
141985,Zimbabwe,ZWE,Used the internet to pay bills in the past yea...,fin14a.a.8,NaN,NaN,11.251434
141986,Zimbabwe,ZWE,Used the internet to pay bills in the past yea...,fin14a.a.4,NaN,NaN,7.736833
141987,Zimbabwe,ZWE,Used the internet to pay bills in the past yea...,fin14a.a.9,NaN,NaN,2.227479
141988,Zimbabwe,ZWE,Used the internet to pay bills in the past yea...,fin14a.a.6,NaN,NaN,11.092598
141989,Zimbabwe,ZWE,Used the internet to pay bills in the past yea...,fin14a.a.3,NaN,NaN,6.941594
141990,Zimbabwe,ZWE,Used the internet to pay bills in the past yea...,fin14a.a.10,NaN,NaN,8.396028
141991,Zimbabwe,ZWE,Used the internet to pay bills in the past yea...,fin14a.a.7,NaN,NaN,1.724085
141992,Zimbabwe,ZWE,Used the internet to pay bills in the past yea...,fin14a.a.1,NaN,NaN,9.782287
141993,Zimbabwe,ZWE,Used the internet to pay bills in the past yea...,fin14a.a.11,NaN,NaN,5.331292
141994,Zimbabwe,ZWE,Used the internet to pay bills in the past yea...,fin14a.a.5,NaN,NaN,1.110839
141995,Zimbabwe,ZWE,Used the internet to pay bills or to buy somet...,fin14abca.t.d,NaN,1.499022,9.535619
141996,Zimbabwe,ZWE,Used the internet to pay bills or to buy somet...,fin14abca.t.d.2,NaN,0.686507,6.399699
141997,Zimbabwe,ZWE,Used the internet to pay bills or to buy somet...,fin14abca.t.d.10,NaN,1.818539,10.321728
141998,Zimbabwe,ZWE,Used the internet to pay bills or to buy somet...,fin14abca.t.d.7,NaN,0.265958,1.789163
141999,Zimbabwe,ZWE,Used the internet to pay bills or to buy somet...,fin14abca.t.d.8,NaN,2.318867,14.688477
142000,Zimbabwe,ZWE,Used the internet to pay bills or to buy somet...,fin14abca.t.d.1,NaN,2.348503,12.950593
142001,Zimbabwe,ZWE,Used the internet to pay bills or to buy somet...,fin14abca.t.d.4,NaN,2.103642,9.567730
142002,Zimbabwe,ZWE,Used the internet to pay bills or to buy somet...,fin14abca.t.d.11,NaN,1.076550,7.786942
142003,Zimbabwe,ZWE,Used the internet to pay bills or to buy somet...,fin14abca.t.d.5,NaN,0.284121,1.110839
142004,Zimbabwe,ZWE,Used the internet to pay bills or to buy somet...,fin14abca.t.d.9,NaN,0.848031,3.177535
142005,Zimbabwe,ZWE,Used the internet to pay bills or to buy somet...,fin14abca.t.d.6,NaN,2.302745,14.384527
142006,Zimbabwe,ZWE,Used the internet to pay bills or to buy somet...,fin14abca.t.d.3,NaN,0.390008,9.564994
142007,Zimbabwe,ZWE,Withdrawal in the past year (% with a financia...,fin10.t.a.s,NaN,81.149063,74.197235