# Intro to Recommender Systems Lab

Complete the exercises below to solidify your knowledge and understanding of recommender systems.

For this lab, we are going to be putting together a user similarity based recommender system in a step-by-step fashion. Our data set contains customer grocery purchases, and we will use similar purchase behavior to inform our recommender system. Our recommender system will generate 5 recommendations for each customer based on the purchases they have made.

In [104]:
import pandas as pd
import numpy as np

# note we're importing some libs from scipy
from scipy.spatial.distance import pdist, squareform

* __pdist__: Pairwise distances between observations in n-dimensional space.
Source: https://docs.scipy.org/doc/scipy/reference/generated/scipy.spatial.distance.pdist.html

* __squareeform__: Converts a vector-form distance vector to a square-form distance matrix, and vice-versa --

Source: https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.spatial.distance.squareform.html

In [3]:
data = pd.read_csv('../data/customer_product_sales.csv')

In [4]:
data.head()

,CustomerID,FirstName,LastName,SalesID,ProductID,ProductName,Quantity
0,61288,Rosa,Andersen,134196,229,Bread - Hot Dog Buns,16
1,77352,Myron,Murray,6167892,229,Bread - Hot Dog Buns,20
2,40094,Susan,Stevenson,5970885,229,Bread - Hot Dog Buns,11
3,23548,Tricia,Vincent,6426954,229,Bread - Hot Dog Buns,6
4,78981,Scott,Burch,819094,229,Bread - Hot Dog Buns,20

## Step 1: Create a data frame that contains the total quantity of each product purchased by each customer.

You will need to group by CustomerID and ProductName and then sum the Quantity field.

In [42]:
# groupby CustomerID', and 'ProductName', return the 'Quantity' var and reset the index
df_prod = data.groupby(['CustomerID', 'ProductName']).sum()['Quantity'].reset_index()

In [43]:
df_prod.head(1)

   CustomerID       ProductName  Quantity
0          33  Apricots - Dried         1

## Step 2: Use the `pivot_table` method to create a product by customer matrix.

The rows of the matrix should represent the products, the columns should represent the customers, and the values should be the quantities of each product purchased by each customer. You will also need to replace nulls with zeros, which you can do using the `fillna` method.

In [149]:
# create a utility matrix
pivot_customer = data.pivot_table(index='ProductName', 
                               columns='CustomerID', 
                               values='Quantity',
                               aggfunc='sum',
                               fill_value=0)

In [150]:
pivot_customer.head(1)

CustomerID,33,200,264,356,412,464,477,639,649,669,...,97697,97753,97769,97793,97900,97928,98069,98159,98185,98200
ProductName,,,,,,,,,,,,,,,,,,,,,
Anchovy Paste - 56 G Tube,0,0,0,0,0,0,0,1,0,0,...,0,25,0,0,0,0,0,0,0,0

In [151]:
# df_customer has 1000 customers
pivot_customer.shape

(452, 1000)

## Step 3: Create a customer similarity matrix using `squareform` and `pdist`. For the distance metric, choose "euclidean."

In [152]:
# Find distances between all users 
# The smaller the distance more similar customers are
dist = squareform(pdist(pivot_customer.T, 'euclidean'))

In [153]:
# return an array with the distances
type(dist)

numpy.ndarray

In [154]:
# the array lengths 1000 cases, one for each customer
len(dist)

1000

In [155]:
from sklearn.neighbors import DistanceMetric as dm
# get the euclidean distance using sklearn
eucl = dm.get_metric('euclidean')

# applyt pairwise method
# note the df is transposed, as the function receives a different type of data
dist2 = eucl.pairwise(df_customer.T)

In [103]:
# note dist and dis2 are equals
dist == dist2

array([[ True,  True,  True, ...,  True,  True,  True],
       [ True,  True,  True, ...,  True,  True,  True],
       [ True,  True,  True, ...,  True,  True,  True],
       ...,
       [ True,  True,  True, ...,  True,  True,  True],
       [ True,  True,  True, ...,  True,  True,  True],
       [ True,  True,  True, ...,  True,  True,  True]])

In [189]:
# Now that we have the distance, let's create a matrix
# select unique customer ID
cust_id = pivot_customer.columns

# convert the by summing up 1 and divide by 1
convert_dist = 1 / (1 + distances)

In [188]:
# Dataframe + Conversion - Big distance between similar customers (if equal, then 1)
distances_df = pd.DataFrame(convert_dist, 
                            # both columns and index are customerID
                            index=cust_id, columns=cust_id)

In [187]:
distances_df.head()

CustomerID,33,200,264,356,412,464,477,639,649,669,...,97697,97753,97769,97793,97900,97928,98069,98159,98185,98200
CustomerID,,,,,,,,,,,,,,,,,,,,,
33,1.000000,0.077421,0.087047,0.081800,0.080634,0.082709,0.074573,0.083020,0.081503,0.080070,...,0.004811,0.004669,0.004412,0.005019,0.004312,0.004515,0.004583,0.004355,0.004167,0.004333
200,0.077421,1.000000,0.078448,0.076435,0.073693,0.075255,0.075956,0.076435,0.077674,0.076923,...,0.004824,0.004681,0.004431,0.005047,0.004311,0.004521,0.004614,0.004367,0.004166,0.004335
264,0.087047,0.078448,1.000000,0.080070,0.081800,0.080350,0.076923,0.080634,0.082100,0.078448,...,0.004822,0.004674,0.004416,0.005035,0.004322,0.004543,0.004595,0.004365,0.004179,0.004333
356,0.081800,0.076435,0.080070,1.000000,0.076435,0.078187,0.075025,0.082403,0.077171,0.075956,...,0.004816,0.004671,0.004416,0.005038,0.004310,0.004526,0.004578,0.004365,0.004175,0.004339
412,0.080634,0.073693,0.081800,0.076435,1.000000,0.078711,0.075025,0.082403,0.078187,0.078448,...,0.004810,0.004702,0.004414,0.005034,0.004318,0.004530,0.004578,0.004367,0.004177,0.004349

## Step 4: Check your results by generating a list of the top 5 most similar customers for a specific CustomerID.

In [215]:
# take the first customerID
cust_33 = distances_df.loc[33]

# select the first 5 most similar customers
top5 = list(cust_33.sort_values(ascending=False).head().index)
top5

[33, 264, 3535, 3317, 2503]

## Step 5: From the data frame you created in Step 1, select the records for the list of similar CustomerIDs you obtained in Step 4.

In [221]:
# 
similar_cust = df_prod[
    # only returns CustomerID withing top5
    df_prod['CustomerID'].isin(top5)].reset_index(drop=True)
similar_cust.head()

   CustomerID                    ProductName  Quantity
0          33               Apricots - Dried         1
1          33              Assorted Desserts         1
2          33        Bandage - Flexible Neon         1
3          33  Bar Mix - Pina Colada, 355 Ml         1
4          33         Beans - Kidney, Canned         1

## Step 6: Aggregate those customer purchase records by ProductName, sum the Quantity field, and then rank them in descending order by quantity.

This will give you the total number of each product purchased by the 5 most similar customers to the customer you selected in order from most purchased to least.

In [222]:
items_df = similar_cust.groupby('ProductName').sum().sort_values(by='Quantity', ascending=False)['Quantity']
items_df.head()

ProductName
Pepper - Black, Whole    4
Butter - Unsalted        3
Grouper - Fresh          3
Veal - Inside, Choice    3
Veal - Sweetbread        3
Name: Quantity, dtype: int64

## Step 7: Filter the list for products that the chosen customer has not yet purchased and then recommend the top 5 products with the highest quantities that are left.

- Merge the ranked products data frame with the customer product matrix on the ProductName field.
- Filter for records where the chosen customer has not purchased the product.
- Show the top 5 results.

In [223]:
# Merge
merged = pd.merge(items_df, pivot_customer[customer_id], on='ProductName').reset_index()
merged.columns = ['ProductName', 'Quantity', 'Purchased'] 

# Filter
filtered = merged[merged['Purchased'] == 0]

# Top 5
filtered.head()

                     ProductName  Quantity  Purchased
1              Butter - Unsalted         3          0
10  Soup - Campbells Bean Medley         3          0
13        Tart Shells - Sweet, 4         2          0
15            Scallops 60/80 Iqf         2          0
17          Garbage Bags - Clear         2          0

## Step 8: Now that we have generated product recommendations for a single user, put the pieces together and iterate over a list of all CustomerIDs.

- Create an empty dictionary that will hold the recommendations for all customers.
- Create a list of unique CustomerIDs to iterate over.
- Iterate over the customer list performing steps 4 through 7 for each and appending the results of each iteration to the dictionary you created.

##  Step 9: Store the results in a Pandas data frame. The data frame should a column for Customer ID and then a column for each of the 5 product recommendations for each customer.

## Step 10: Change the distance metric used in Step 3 to something other than euclidean (correlation, cityblock, consine, jaccard, etc.). Regenerate the recommendations for all customers and note the differences.