## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [2]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

- random is a Python library that generate pseudo-random numbers
For this propouse, we just wanna save some time selecting a sample of numbers.

* check it out: https://docs.python.org/3/library/random.html

1. first step: create a list of integer using range() and list() functions.

IMPORTANT:
the second argument from the function range() is exclusive, which means that if you want to incluse the number 100, you should consider 101.

2. Select a sample with random.sample() function.

In [3]:
# method 1 to create a list using range()
sample_list_1 = list(range(101))
sample_list_1 = list(range(0, 101))

In [4]:
print(sample_list_1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [5]:
# method 2 to create a list using list comprehention
sample_list_1 = [i for i in range(0, 101)]
sample_list_1 = [i for i in range(101)]

In [6]:
print(sample_list_1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

- Second step
now that we have a list with elements from 0 to 100, let's select a random sample that list using the function sample() from the library random

random.sample() receives two parameters: population and k, accordingly to the documentation:

random.sample(population, k)

- population refers to the total amount of numbers, in this case the sample_list_1, and
- k is the number of elements we want to select

IMPORTANT: be aware of the type of data structure we're handling:
random.sample receives any sequence (list, tuple) or set, but not a dictionary, but returns a list

In [7]:
print(
    # call sample() function from random
    random.sample(
        # the first argument is a list we're just created
        sample_list_1, 
        # the number of elements we want as a sample
        80))

[27, 8, 33, 77, 95, 0, 79, 1, 72, 56, 43, 22, 12, 47, 98, 48, 46, 96, 64, 66, 32, 42, 3, 9, 18, 62, 34, 30, 74, 91, 29, 84, 19, 58, 45, 17, 4, 41, 80, 49, 75, 44, 51, 5, 100, 97, 16, 71, 93, 82, 92, 37, 87, 78, 81, 60, 14, 11, 25, 67, 86, 40, 53, 35, 20, 63, 94, 69, 65, 54, 13, 21, 90, 70, 24, 76, 89, 2, 88, 52]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [261]:
# calling the set function t
# set returns the unique elements from a list
set1 = set(sample_list_1)

In [262]:
print(len(set1))

101

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

- range() is versatile function to create a range of number.

We're familiar with sequencial unique numbers, but there's more possibilities.
Let's explore range() arguments:

- range(start, stop, step)

Documentation can always help: https://docs.python.org/3/tutorial/controlflow.html

And some tutorials as well: https://www.pythoncentral.io/pythons-range-function-explained/

Trying a list of elements from 0 to 500, 50 by 50

In [15]:
print(
    # call list()
    list(
        # through a list from 0 to 500
        range(0, 500, 
              # returnging 50 by 50 elements
              50)))

[0, 50, 100, 150, 200, 250, 300, 350, 400, 450]

In [97]:
# now let's create a list from 0 to 5 3 times
print(list(range(5))*3)

[0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4]

In [16]:
sample_list_2 = random.sample(
    # list of elements
    range(0, 100), 
    # return a sample of 80 elements
    80)

In [17]:
print(sample_list_2)

[46, 36, 47, 92, 56, 81, 4, 69, 93, 76, 25, 5, 32, 22, 13, 16, 45, 71, 98, 30, 60, 75, 18, 9, 29, 74, 55, 70, 2, 77, 42, 14, 31, 20, 91, 82, 37, 12, 44, 63, 24, 43, 87, 8, 67, 85, 94, 11, 39, 35, 57, 96, 80, 3, 65, 86, 89, 0, 38, 79, 90, 7, 72, 34, 97, 66, 83, 84, 33, 19, 95, 41, 50, 78, 6, 49, 26, 59, 15, 51]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [29]:
print(len(sample_list_2))

80

In [30]:
# transform a list into a set -- again
set2 = (set(sample_list_2))

In [31]:
# the set number of elements is the same as in 'sample_list_2'
print(len(set2))

80

### Operating on a Set

We can perform operation on a set using 
* for loops
* operators
* methods

[Source](https://realpython.com/python-sets/)

Let's explore those methods ahead:

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

Tip: elements present in A, but not in B
![title](https://www.geeksforgeeks.org/wp-content/uploads/set-difference.jpg)
[Source](https://www.geeksforgeeks.org/python-set-difference/)

In [52]:
# Method1: list comprehension
# iterate through set1 and return the elemtns not present in set2
set3_m1 = set([
    # element to be returned
    i 
    # iterate through set1
    for i in set1 
    # conditional: only if 1 is not contained at set2
    if i not in set2])

In [53]:
# note that the resulting element is a set, as we call set() function
type(set3_m1)

set

In [61]:
print(len(set3_m1))

21

In [62]:
print(set3_m1)

{1, 10, 17, 21, 23, 27, 28, 40, 48, 52, 53, 54, 58, 61, 62, 64, 68, 73, 88, 99, 100}

In [63]:
# Method2: substract the set2
set3_m2 = set1-set2

In [78]:
print(len(set3_m2))

21

In [64]:
print(set3_m2)

{1, 10, 17, 21, 23, 27, 28, 40, 48, 52, 53, 54, 58, 61, 62, 64, 68, 73, 88, 99, 100}

In [74]:
# comparing method1 to method2
# As it returns True, we have the same set
set3_m2 == set3_m1

True

In [75]:
# Method3: using the difference() function
set3_m3 = set1.difference(set2)

In [76]:
print(len(set3_m3))

21

In [77]:
print(set3_m3)

{1, 10, 17, 21, 23, 27, 28, 40, 48, 52, 53, 54, 58, 61, 62, 64, 68, 73, 88, 99, 100}

In [72]:
# comparing method3 to method2
# It also returns True
set3_m3 == set3_m2

True

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [133]:
# Now let's compare elements in set3, but not in the set1
# let's go directly using difference() function
set4 = set2.difference(set1)

In [134]:
# the result is an empty set
print(set4)

set()

In [135]:
print(len(set4))

0

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

* The intesection() method returns the shared elements fom x1 and x2, as showed below:

![title](https://files.realpython.com/media/t.9c6d33717cdc.png)
[Source](https://realpython.com/python-sets/)

In [170]:
# calling intersenction method 
set5 = set1.intersection(set2)

In [171]:
print(set5)

{0, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13, 14, 15, 16, 18, 19, 20, 22, 24, 25, 26, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 41, 42, 43, 44, 45, 46, 47, 49, 50, 51, 55, 56, 57, 59, 60, 63, 65, 66, 67, 69, 70, 71, 72, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98}

In [172]:
print(len(set5))

80

In [173]:
# note: the intersecntion of set1 and set2 is the same as set2 and set1
set5_2 = set2.intersection(set1)

In [174]:
# comparing the resolting sets
set5 == set5_2

True

In [175]:
print(set5_2)

{0, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13, 14, 15, 16, 18, 19, 20, 22, 24, 25, 26, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 41, 42, 43, 44, 45, 46, 47, 49, 50, 51, 55, 56, 57, 59, 60, 63, 65, 66, 67, 69, 70, 71, 72, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98}

In [176]:
print(len(set5_2))

80

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [179]:
# printing the length of each sets
print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))

101
80
101
0
80

#### Create an empty set called `set6`.

In [204]:
# Your code here
set6 = set()

In [202]:
type(set6)

set

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

#### Difference between set.add() and set.update()
* set.add() adds a single element to a set
* set.update sum up an iterable

In [206]:
set6.update(set3, set5)

#### Check if `set1` and `set6` are equal.

In [207]:
# comparing 2 sets
set1==set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [210]:
# returns True if all itens of set1 are present in set2
set1.issubset(set2)

False

In [211]:
# returns True if all itens of set2 are present in set3
set2.issubset(set1)

True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [214]:
# Your code here
print(set3.union(set4, set5))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100}

#### Using the `pop` method, remove a random element from `set1`.

In [230]:
# measure the number of elements in set1
len(set1)

95

In [231]:
# drop one random element from the set
set1.pop()

6

In [232]:
# measure the number of elements again
# the pop function subtracted one element from the set
len(set1)

94

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [225]:
# define the list of elements to be removed from set1
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

In [263]:
# iterate through the list_to_remove passing each element to remove() method
for i in list_to_remove:
    set1.remove(i)

In [264]:
print(set1)

{0, 2, 3, 4, 5, 6, 7, 8, 10, 12, 13, 14, 15, 16, 17, 18, 20, 22, 23, 24, 25, 26, 27, 28, 30, 32, 33, 34, 35, 36, 37, 38, 40, 42, 43, 44, 45, 46, 47, 48, 50, 52, 53, 54, 55, 56, 57, 58, 60, 62, 63, 64, 65, 66, 67, 68, 70, 72, 73, 74, 75, 76, 77, 78, 80, 82, 83, 84, 85, 86, 87, 88, 90, 92, 93, 94, 95, 96, 97, 98, 100}