## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

`random` is a Python library that, for this propouse, we just wanna save some time selecting a sample of numbers from a list.

* check it out: https://docs.python.org/3/library/random.html

In [130]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer among 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

__First step__: create a list of integer called population using range() and list() functions.

__IMPORTANT__:
the second argument from the function range() is exclusive, which means that if you want to include the number 100, you should consider 101.

In [131]:
# method 1 to create a list using range()
population = list(range(101))
population = list(range(0, 101))

In [132]:
print(population)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [133]:
# method 2 to create a list using list comprehention
population = [i for i in range(0, 101)]
population = [i for i in range(101)]

In [134]:
print(population)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

__Second step__:
* Now that we have a list with elements from 0 to 100, let's select a random sample from the created list using the function sample() from the library `random`.

random.sample() receives two parameters: population and k, accordingly to the documentation:

`random.sample(population, k)`

- population refers to the total amount of numbers, in this case the sample_list_1, and
- k is the number of elements we want to select

__IMPORTANT__: be aware of the type of data structure we're handling:
random.sample receives any sequence (list, tuple) or set, but not a dictionary, and returns a list.

In [135]:
# call sample() function from random
sample_list_1 = random.sample(
        # the first argument is a list we're just created
        population, 
        # the number of elements we want as a sample
        80)

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [136]:
len(sample_list_1)

80

In [137]:
# calling the set function t
# set returns the unique elements from a list
# len(set) will be different from len(sample_list_1) if we failed to create a list in whitch "Each value in the list is unique."

set1 = set(sample_list_1)

In [138]:
print(len(set1))

80

- `range()` is versatile function that help us to create a range of numbers.

We're familiar with sequencial unique numbers, but there's more possibilities.
Let's explore range() arguments:

`range(start, stop, step)`

Documentation can always help: https://docs.python.org/3/tutorial/controlflow.html

And some tutorials as well: https://www.pythoncentral.io/pythons-range-function-explained/

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [177]:
sample_list_2 = [random.randint(1,100) for c in range(80)]

In [178]:
print(sample_list_2)

[43, 6, 6, 10, 1, 58, 37, 79, 11, 29, 48, 73, 68, 5, 89, 12, 48, 96, 2, 99, 28, 21, 58, 55, 76, 93, 14, 17, 40, 40, 67, 34, 73, 82, 23, 7, 7, 18, 78, 59, 99, 52, 21, 51, 2, 82, 85, 64, 6, 57, 25, 42, 65, 2, 87, 95, 71, 14, 17, 57, 17, 34, 73, 57, 94, 86, 51, 60, 2, 100, 94, 74, 91, 73, 79, 17, 12, 65, 25, 52]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [179]:
print(len(sample_list_2))

80

In [180]:
# transform a list into a set -- again
set2 = (set(sample_list_2))

In [181]:
# the set fuunction eliminates the repetited numbers 
#since sample_list_2 is not composed of unique values len(set2) will be smaller than sample_list_2
print(len(set2))

51

### Operating on a Set

We can perform operation on a set using 
* for loops
* operators
* methods

[Source](https://realpython.com/python-sets/)

Let's explore those methods ahead:

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

Tip: elements present in A, but not in B
![title](https://www.geeksforgeeks.org/wp-content/uploads/set-difference.jpg)
[Source](https://www.geeksforgeeks.org/python-set-difference/)

In [146]:
# Method1: list comprehension
# iterate through set1 and return the elemtns not present in set2
set3_m1 = set([
    # element to be returned
    i 
    # iterate through set1
    for i in set1 
    # conditional: only if 1 is not contained at set2
    if i not in set2])

In [147]:
# note that the resulting element is a set, as we call set() function
type(set3_m1)

set

In [148]:
print(len(set3_m1))

35

In [174]:
print(set3_m1)

{3, 4, 6, 7, 14, 15, 16, 17, 20, 27, 28, 31, 32, 33, 36, 37, 39, 44, 46, 47, 49, 60, 67, 69, 70, 73, 77, 78, 81, 83, 88, 89, 90, 95, 99}

In [150]:
# Method2: substract the set2
set3_m2 = set1-set2

In [151]:
print(len(set3_m2))

35

In [152]:
print(set3_m2)

{3, 4, 6, 7, 14, 15, 16, 17, 20, 27, 28, 31, 32, 33, 36, 37, 39, 44, 46, 47, 49, 60, 67, 69, 70, 73, 77, 78, 81, 83, 88, 89, 90, 95, 99}

In [153]:
# comparing method1 to method2
# As it returns True, we have the same set
set3_m2 == set3_m1

False

In [154]:
# Method3: using the difference() function
set3_m3 = set1.difference(set2)

In [155]:
print(len(set3_m3))

35

In [156]:
print(set3_m3)

{3, 4, 6, 7, 14, 15, 16, 17, 20, 27, 28, 31, 32, 33, 36, 37, 39, 44, 46, 47, 49, 60, 67, 69, 70, 73, 77, 78, 81, 83, 88, 89, 90, 95, 99}

In [157]:
# comparing method3 to method2
# It also returns True
set3_m3 == set3_m2

True

In [175]:
set3 = set3_m3

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [158]:
# Now let's compare elements in set3, but not in the set1
# let's go directly using difference() function
set4 = set2.difference(set1)

In [159]:
# the result is an empty set
print(set4)

{35, 38, 40, 9, 76, 94, 62}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

* The `intesection()` method returns the shared elements fom x1 and x2, as showed below:

![title](https://files.realpython.com/media/t.9c6d33717cdc.png)
[Source](https://realpython.com/python-sets/)

In [160]:
# calling intersenction method 
set5 = set1.intersection(set2)

In [161]:
print(set5)

{1, 2, 5, 8, 10, 11, 12, 18, 21, 22, 24, 25, 26, 29, 30, 34, 48, 50, 51, 52, 53, 54, 56, 57, 58, 61, 63, 64, 65, 66, 71, 72, 74, 75, 79, 80, 82, 84, 86, 87, 91, 92, 96, 98, 100}

In [162]:
print(len(set5))

45

In [163]:
# note: the intersecntion of set1 and set2 is the same as set2 and set1
set5_2 = set2.intersection(set1)

In [164]:
# comparing the resolting sets
set5 == set5_2

True

In [165]:
print(set5_2)

{1, 2, 5, 8, 10, 11, 12, 18, 21, 22, 24, 25, 26, 29, 30, 34, 48, 50, 51, 52, 53, 54, 56, 57, 58, 61, 63, 64, 65, 66, 71, 72, 74, 75, 79, 80, 82, 84, 86, 87, 91, 92, 96, 98, 100}

In [166]:
print(len(set5_2))

45

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [167]:
# printing the length of each sets
print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))

80
52
35
7
45

#### Create an empty set called `set6`.

In [168]:
# Your code here
set6 = set()

In [169]:
type(set6)

set

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

#### Difference between set.add() and set.update()
* `set.add()` adds a single element to a set
* `set.update()` sum up an iterable

In [170]:
set6.update(set3, set5)

#### Check if `set1` and `set6` are equal.

In [171]:
# comparing 2 sets
set1==set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [172]:
# returns True if all itens of set1 are present in set2
set1.issubset(set2)

False

In [176]:
# returns True if all itens of set2 are present in set3
set3.issubset(set1)

True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [214]:
# Your code here
print(set3.union(set4, set5))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100}

#### Using the `pop` method, remove a random element from `set1`.

In [230]:
# measure the number of elements in set1
len(set1)

95

In [231]:
# drop one random element from the set
set1.pop()

6

In [232]:
# measure the number of elements again
# the pop function subtracted one element from the set
len(set1)

94

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [225]:
# define the list of elements to be removed from set1
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

In [263]:
# iterate through the list_to_remove passing each element to remove() method
for i in list_to_remove:
    set1.remove(i)

In [264]:
print(set1)

{0, 2, 3, 4, 5, 6, 7, 8, 10, 12, 13, 14, 15, 16, 17, 18, 20, 22, 23, 24, 25, 26, 27, 28, 30, 32, 33, 34, 35, 36, 37, 38, 40, 42, 43, 44, 45, 46, 47, 48, 50, 52, 53, 54, 55, 56, 57, 58, 60, 62, 63, 64, 65, 66, 67, 68, 70, 72, 73, 74, 75, 76, 77, 78, 80, 82, 83, 84, 85, 86, 87, 88, 90, 92, 93, 94, 95, 96, 97, 98, 100}