# lab-data_cleaning

#### 1. Import pandas library

In [1]:
# As always, import pandas using 'pd' as an alias
import pandas as pd

#### 2. Import pymysql and sqlalchemy as you have learnt in the lesson of importing/exporting data

* __Engine__:
"The Engine is the starting point for any SQLAlchemy application. It’s “home base” for the actual database and its DBAPI, delivered to the SQLAlchemy application through a connection pool and a Dialect, which describes how to talk to a specific kind of database/DBAPI combination".
https://docs.sqlalchemy.org/en/13/core/engines.html

In [2]:
import pymysql
from sqlalchemy import create_engine

ModuleNotFoundError: No module named 'pymysql'

#### 3. Create a mysql engine to set the connection to the server. Check the connection details in [this link](https://relational.fit.cvut.cz/dataset/Stats)

### Let's start understanding what is a driver and a dialect:

Roughly speaking:

__Driver__:  software for accessing a database such as mysql, sqlite, postgre, etc.

__Dialect__: a protocol for accessing the database like pymysql, pymssql, MySQLdb.
https://wiki.python.org.br/BancosDeDadosSql

Warning: MySQLdb is not supported by python3? https://docs.djangoproject.com/en/1.11/ref/databases/#mysql-db-api-drivers
https://stackoverflow.com/questions/14164183/python-3-and-mysql-through-sqlalchemy

In [3]:
# Define driver and dialect settings
driver = 'mysql'
dialect = 'pymysql'

In [4]:
# Access info accordingly the link information
db_user = 'guest'
db_pw = 'relational'
db_host = 'relational.fit.cvut.cz'
db_port = '3306'
database = 'stats'

In [5]:
# mysql format connection mask
mysql_mask = '{0}+{1}://{2}:{3}@{4}:{5}/{6}'

In [6]:
# Build the string with the connect into the mysql
mysql_info = mysql_mask.format(
    driver,
    dialect,
    db_user, 
    db_pw, 
    db_host, 
    db_port, 
    database)

In [7]:
print(mysql_info)

mysql+pymysql://guest:relational@relational.fit.cvut.cz:3306/stats

In [36]:
# create an engine
mysql_engine = create_engine(mysql_info)

In [37]:
# connect to the engine to retrieve data
mysql_conn = mysql_engine.connect()

In [38]:
# check the table's name
print(mysql_engine.table_names())

['badges', 'comments', 'postHistory', 'postLinks', 'posts', 'tags', 'users', 'votes']

#### We can import mysql datasets as well as other types of datasets
* Download the chinook.db from this [website](http://www.sqlitetutorial.net/wp-content/uploads/2018/03/chinook.zip).

In [39]:
sqlite_file = 'sqlite:///chinook.db'

In [40]:
# Create an engine
sqlite_engine = create_engine(sqlite_file)

In [41]:
# connect to the engine in order to retrive data
sqlite_conn = sqlite_engine.connect()

In [42]:
print(sqlite_engine.table_names())

[]

#### 4. Import the users table

In [43]:
# Define the string to be queried
status_user = 'SELECT * FROM stats.users'

In [44]:
# Query the dataset using pandas
user = pd.read_sql_query(status_user,
                        mysql_engine)

####  Any error?

Mainly SQLAlchemy errors:

* __Programming-time errors__: raised as a result of functions or methods being called with incorrect arguments, or from other configuration-oriented methods such as mapper configurations that can’t be resolved -- is typically immediate and deterministic. 
---
* __Runtime error__: represents a failure that occurs as a program runs in response to some condition that occurs arbitrarily, such as database connections being exhausted or some data-related issue occurring -- more likely to be seen in the logs of a running application as the program encounters these states in response to load and data being encountered.:


Source: https://docs.sqlalchemy.org/en/13/errors.html#error-e3q8)

#### If you reached this section you have already imported the dataset correctly, right? 

* So let's check how the data was imported

In [17]:
# Check if the dataset user were correctly imported
user.head()

,Id,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,1920,-1,NaN,None
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37.0,None
2,3,101,2010-07-19 15:34:50,Jarrod Dixon,2014-08-08 06:42:58,http://stackoverflow.com,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19,0,3,35.0,None
3,4,101,2010-07-19 19:03:27,Emmett,2014-01-02 09:31:02,http://minesweeperonline.com,"San Francisco, CA",<p>currently at a startup in SF</p>\n\n<p>form...,11,0,0,1998,28.0,http://i.stack.imgur.com/d1oHX.jpg
4,5,6792,2010-07-19 19:03:57,Shane,2014-08-13 00:23:47,http://www.statalgo.com,"New York, NY",<p>Quantitative researcher focusing on statist...,1145,662,5,54503,35.0,None

In [18]:
# Check user's data shape
user.shape

(40325, 14)

In [19]:
# Check user's data info
user.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40325 entries, 0 to 40324
Data columns (total 14 columns):
Id                 40325 non-null int64
Reputation         40325 non-null int64
CreationDate       40325 non-null datetime64[ns]
DisplayName        40325 non-null object
LastAccessDate     40325 non-null datetime64[ns]
WebsiteUrl         8121 non-null object
Location           11691 non-null object
AboutMe            9379 non-null object
Views              40325 non-null int64
UpVotes            40325 non-null int64
DownVotes          40325 non-null int64
AccountId          40325 non-null int64
Age                8318 non-null float64
ProfileImageUrl    16479 non-null object
dtypes: datetime64[ns](2), float64(1), int64(6), object(5)
memory usage: 4.3+ MB

#### 5. Rename Id column to userId

* Method 1: work line by line

In [20]:
# Assing user.columns to a new array
rename_cols = user.columns.values

In [21]:
# Reassing the 'Id' string to 'userId' using index
rename_cols[0] = 'userId'

In [22]:
# Reassing the user.columns to rename_cols
user.columns = rename_cols

In [23]:
# Check the column's name
user.columns

Index(['userId', 'Reputation', 'CreationDate', 'DisplayName', 'LastAccessDate',
       'WebsiteUrl', 'Location', 'AboutMe', 'Views', 'UpVotes', 'DownVotes',
       'AccountId', 'Age', 'ProfileImageUrl'],
      dtype='object')

* Method 2: write a function to change the column's name

In [ ]:
# create a function to rename columns

def rename_cols(data, old, new):
    'Rename columns names from user dataset'
    # extract values from the data.columns array and transforme it into a list
    col_names = data.columns.values.tolist()
    # check if the old name is a valid columns name
    if old in col_names:
    # use the list method to find the old column's name index
        new_index = col_names.index(old)
    # reassing the new column's value
        col_names[new_index] = new
    else:
        print('Old values not in columns name. Try the method columns to find the right name')
    # return the column's name with the new label
    return(col_names)

In [ ]:
user.columns = rename_cols(user, 'Id', 'userId')

Old values not in columns name. Try the method columns to find the right name

In [ ]:
print(user.columns)

Index(['userId', 'Reputation', 'CreationDate', 'DisplayName', 'LastAccessDate',
       'WebsiteUrl', 'Location', 'AboutMe', 'Views', 'UpVotes', 'DownVotes',
       'AccountId', 'Age', 'ProfileImageUrl'],
      dtype='object')

#### 6. Import the posts table.

In [ ]:
# Define the table's query
status_posts = 'SELECT * FROM stats.posts'

In [ ]:
# retrieve the data using read_sql_query() from pandas
posts = pd.read_sql_query(status_posts,
                        mysql_engine)

In [ ]:
posts.shape

In [ ]:
posts.head()

#### 7. Rename Id column to postId and OwnerUserId to userId

In [ ]:
# Call the function used at the exercise 5
posts.columns = rename_cols(posts, 'Id','postId')
posts.columns = rename_cols(posts, 'OwnerUserId','userId')

In [ ]:
# print the columns' names
posts.columns

#### 8. Define new dataframes for users and posts with the following selected columns:
    **users columns**: userId, Reputation,Views,UpVotes,DownVotes
    **posts columns**: postId, Score,userId,ViewCount,CommentCount

In [ ]:
# create a list with the user cols
users_cols = ['userId', 'Reputation', 'Views', 'UpVotes', 'DownVotes']
posts_cols = ['postId', 'Score', 'userId', 'ViewCount', 'CommentCount']

In [ ]:
user.columns

In [ ]:
posts.columns

In [ ]:
# slide the user dataframe with the new columns
users_new = user[users_cols]
posts_new = posts[posts_cols]

In [ ]:
# check the number of lines and columns from each dataset
print('User shape:', users_new.shape)
print('Post shape:', posts_new.shape)

In [ ]:
users_new.head()

In [ ]:
posts_new.head()

#### 8. Merge both dataframes, users and posts. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [ ]:
# merge dataframes with at least one column match, with the same name
merged = users_new.merge(posts_new)

In [ ]:
# good practice left_on, right_on

In [ ]:
# the merged data has one column less than the sum of user_new and posts_new dfs, as 'postId' was used as a match to merge them
merged.shape

#### 9. How many missing values do you have in your merged dataframe? On which columns?

In [ ]:
# return the sum of all values from each column and order the values in a descendent way
merged.isnull().sum().sort_values(ascending=False)

#### 10. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before passing to the next step

In [ ]:
# return the sum of valid cases
valid_rows = merged.ViewCount.notnull().sum()

In [ ]:
valid_rows

In [ ]:
# research reference

In [ ]:
# return the porcentage of valid cases
print('{}% of the ViewCount column is composed by valid cases -- less than 50%.'.
      format(round(valid_rows/merged.shape[0]*100,2)))

In [ ]:
# Method 1: delete rows with NaN values using dropna()
method1 = merged.dropna()

In [ ]:
method1.head()

In [ ]:
# the number of rows dropped accordingly to the number of valid cases ViewCount column
method1.shape

In [ ]:
# Method 2: delete the column using drop()
method2 = merged.drop('ViewCount', axis=1)

In [ ]:
method2.head()

In [ ]:
# method 2 drop one column and maintain all the rows
method2.shape

In [ ]:
# method3
# Describe more methods

#### 11. Adjust the data types in order to avoid future issues. Which ones should be changed?

In [ ]:
# check the method1 data type with info()
method1.info()

In [ ]:
# use the astype() function with the 'int' as a parameter on method1 dataset
# the function require a clean dataset composed by only valid cases
method1_clean = method1.astype('int')

In [ ]:
# change 'userId' from into into category format in order to avoid miss calculation
method1_clean['userId'] = method1.userId.astype('category')

In [ ]:
# new data formats of 'userId' and 'ViewCount'
method1_clean.info()

#### Bonus: Identify extreme values in your merged dataframe as you have learned in class, create a dataframe called outliers with the same columns as our data set and calculate the bounds. The values of the outliers dataframe will be the values of the merged_df that fall outside that bounds. You will need to save your outliers dataframe to a csv file on your-code folder.

In [ ]:
# remove outliers

def remove_outliers(col, q=0.3):
    upper = col.quantile(1-q)
    lower = col.quantile(q)
    mask = (col < upper) & (col > lower)
    return mask

In [ ]:
# interquatile range

In [ ]:
method1_clean[remove_outliers(method1_clean.Reputation)].shape