# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

# Challenge 1 - Passing a Lambda Expression to a Function

In the next excercise you will create a function that returns a lambda expression. Create a function called `modify_list`. The function takes two arguments, a list and a lambda expression. The function iterates through the list and applies the lambda expression to every element in the list.

Follow the steps as stated below:
    1. Define a list of any 10 numbers
    2. Define a simple lambda expression for eg that updates a number by 2
    3. Define an empty list
    4. Define the function -> use the lambda function to append the empty list
    5. Call the function with list and lambda expression
    6. print the updated list

In [42]:
# Method 1:

In [59]:
l = [i for i in range(10)]

In [60]:
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [61]:
f = lambda x: x*2

In [62]:
b = []

In [63]:
def modify_list(lst, fudduLambda):
    for x in lst:
        b.append(f(x))

In [64]:
#Call modify_list(##,##)
modify_list(l, f)

In [65]:
#print b
b

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [66]:
# Method 2:

def modify_list(lst, lmbda):
    """
    Input: list and lambda expression
    
    Output: the transformed list
    """
    lst = [lmbda(x) for x in lst]
    return lst

lst = [1, 2, 3, 4]
lmbda = lambda x: x+5
print(modify_list(lst, lmbda))

[6, 7, 8, 9]

#### Now we will define a lambda expression that will transform the elements of the list. 

In the cell below, create a lambda expression that converts Celsius to Kelvin. Recall that 0Â°C + 273.15 = 273.15K

In [67]:
# Your code here:

celsius_kelvin = lambda x: x+273.15

Finally, convert the list of temperatures below from Celsius to Kelvin.

In [68]:
temps = [12, 23, 38, -55, 24]

In [69]:
# Your code here:
temps_kelvin = [round(celsius_kelvin(i),2) for i in temps]

In [70]:
temps_kelvin

[285.15, 296.15, 311.15, 218.15, 297.15]

#### In this part, we will define a function that returns a lambda expression

In the cell below, write a lambda expression that takes two numbers and returns 1 if one is divisible by the other and zero otherwise. Call the lambda expression `mod`.

In [71]:
# Method 1

In [72]:
mod = lambda x, y: 1 if x%y == 0 else False

In [73]:
# let's test the function

In [74]:
list_x = [10, 2, 5, 6, 7]
element_y = 2

In [75]:
for i in list_x:
    print(mod(i, element_y))

1
1
False
1
False

In [76]:
# Method 2:
mod = lambda n, m: 1 if n%m == 0 or m%n == 0 else 0

print(mod(8,3), mod(8,4))

0 1

#### Now create a function that returns mod. The function only takes one argument - the first number in the `mod` lambda function. 

Note: the lambda function above took two arguments, the lambda function in the return statement only takes one argument but also uses the argument passed to the function.

* https://pythonconquerstheuniverse.wordpress.com/2011/08/29/lambda_tutorial/
* https://www.afternerd.com/blog/python-lambdas/
* https://stackabuse.com/python-nested-functions/
* https://medium.com/better-programming/lambda-map-and-filter-in-python-4935f248593

In [77]:
def divisor(b):
    """
    input: a number
    output: a function that returns 1 if the number is divisible 
    by another number (to be passed later) and zero otherwise
    """
    # Your code here:
    mod = lambda x: 1 if x%b == 0 else False
    return(mod(b))

Finally, pass the number 5 to `divisor`. Now the function will check whether a number is divisble by 5. Assign this function to `divisible5`

In [78]:
# Your code here:
divisible5 = divisor(5)

Test your function with the following test cases:

In [79]:
divisor(10)

1

In [80]:
divisor(8)

1

# Challenge 2 - Using Lambda Expressions in List Comprehensions

In the following challenge, we will combine two lists using a lambda expression in a list comprehension. 

To do this, we will need to introduce the `zip` function. The `zip` function returns an iterator of tuples.

The way zip function works with list has been shown below:

In [81]:
list1 = ['Green', 'cheese', 'English', 'tomato']
list2 = ['eggs', 'cheese', 'cucumber', 'tomato']

In this exercise we will try to compare the elements on the same index in the two lists. 
We want to zip the two lists and then use a lambda expression to compare if:
list1 element > list2 element

In [110]:
list1 = [1,2,3,4]
list2 = [2,3,4,5]
## Zip the lists together 
## Print the zipped list

In [111]:
zipped = zip(list1,list2)
list(zipped)

[(1, 2), (2, 3), (3, 4), (4, 5)]

In [112]:
list1 = ['Green', 'cheese', 'English', 'tomato']
list2 = ['eggs', 'cheese', 'cucumber', 'tomato']

In [113]:
add_x = lambda x: x[0]+''+x[1] if x[0] != x[1] else x[0]

In [114]:
lambda_list = [add_x(x) for x in zip(list1, list2)]

In [115]:
print(lambda_list)

['Greeneggs', 'cheese', 'Englishcucumber', 'tomato']

Complete the parts of the code marked as "###"

In [116]:
'''

compare = lambda ###: print("True") if ### else print("False")
for ### in zip(list1,list2):
    compare(###)
    
'''

'\n\ncompare = lambda ###: print("True") if ### else print("False")\nfor ### in zip(list1,list2):\n    compare(###)\n    \n'

# Challenge 3 - Using Lambda Expressions as Arguments

#### In this challenge, we will zip together two lists and sort by the resulting tuple.

In the cell below, take the two lists provided, zip them together and sort by the first letter of the second element of each tuple. Do this using a lambda function.

In [117]:
list1 = ['Engineering', 'Computer Science', 'Political Science', 'Mathematics']
list2 = ['Lab', 'Homework', 'Essay', 'Module']

In [118]:
zipped = [x for x in zip(list1, list2)]

In [119]:
print(sorted(zipped, key=lambda l:l[1][0] ))

[('Political Science', 'Essay'), ('Computer Science', 'Homework'), ('Engineering', 'Lab'), ('Mathematics', 'Module')]

# Challenge 4 - Sort a Dictionary by Values

Given the dictionary below, sort it by values rather than by keys. Use a lambda function to specify the values as a sorting key.

In [120]:
d = {'Honda': 1997, 'Toyota': 1995, 'Audi': 2001, 'BMW': 2005}

In [121]:
sortedD = {k: v for k, v in sorted(d.items(), key=lambda x: x[1])}

In [122]:
print(sortedD)

{'Toyota': 1995, 'Honda': 1997, 'Audi': 2001, 'BMW': 2005}

In [123]:
sorted(d.items(), key=lambda x: x[1])

[('Toyota', 1995), ('Honda', 1997), ('Audi', 2001), ('BMW', 2005)]