# Operações

Há muitas operações com pandas que serão realmente úteis para você, mas não se enquadram em nenhuma categoria distinta. Vamos mostrar aqui nesta aula:

In [ ]:
import pandas as pd
df = pd.DataFrame({'col1':[1,2,3,4],'col2':[444,555,666,444],'col3':['abc','def','ghi','xyz']})
df.head()

### Informação sobre valores exclusivos

In [ ]:
df['col2'].unique()

In [ ]:
df['col2'].nunique()

In [ ]:
df['col2'].value_counts()

### Selecionando dados

In [ ]:
# Selecione do DataFrame usando critérios de várias colunas
newdf = df[(df['col1']>2) & (df['col2']==444)]

In [ ]:
newdf

### Aplicando funções

In [ ]:
def times2(x):
    return x*2

In [ ]:
df['col1'].apply(times2)

In [ ]:
df['col1'].apply(lambda x: x*2)

In [ ]:
df['col3'].apply(len)

In [ ]:
df['col1'].sum()

** Removendo colunas permanentemente **

In [ ]:
del df['col1']

In [ ]:
df

** Obter nomes de coluna e índice: **

In [ ]:
df.columns #observe que isso é um atributo

In [ ]:
df.index

** Ordenando um DataFrame **

In [ ]:
df

In [ ]:
df.sort_values(by='col2') #inplace=False por padrão

** Encontre Valores Nulos ou Verifique Valores Nulos **

In [ ]:
df.isnull() #retorna um boleano falando quem é nulo

In [ ]:
# Deleta linhas com valores NaN
df.dropna()

** Preenchendo os valores de NaN com outra coisa: **

In [ ]:
import numpy as np

In [ ]:
df = pd.DataFrame({'col1':[1,2,3,np.nan],
                   'col2':[np.nan,555,666,444],
                   'col3':['abc','def','ghi','xyz']})
df.head()

In [ ]:
df['col1'].fillna(value=df['col1'].mean())

### Pivot Table

In [ ]:
data = {'A':['foo','foo','foo','bar','bar','bar'],
     'B':['one','one','two','two','one','one'],
       'C':['x','y','x','y','x','y'],
       'D':[1,3,2,5,4,1]}

df = pd.DataFrame(data)

In [ ]:
df

In [ ]:
df.pivot_table(values='D',index=['A', 'B'],columns=['C'])