# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import pandas as pd
import numpy as np

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents

In [2]:
salaries = pd.read_csv('../Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [3]:
salaries.head(1)

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN

In [4]:
salaries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33183 entries, 0 to 33182
Data columns (total 8 columns):
Name                 33183 non-null object
Job Titles           33183 non-null object
Department           33183 non-null object
Full or Part-Time    33183 non-null object
Salary or Hourly     33183 non-null object
Typical Hours        8022 non-null float64
Annual Salary        25161 non-null float64
Hourly Rate          8022 non-null float64
dtypes: float64(3), object(5)
memory usage: 2.0+ MB

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [5]:
salaries.isnull().sum().sort_values(ascending=False)

Hourly Rate          25161
Typical Hours        25161
Annual Salary         8022
Salary or Hourly         0
Full or Part-Time        0
Department               0
Job Titles               0
Name                     0
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

##### We can use pd.crosstab to cross two variables
* https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.crosstab.html

In [6]:
# crossing type of employee payment -- 'department' x 'Salary or Hourly'
cross_pay_type = pd.crosstab(salaries['Department'], 
                             salaries['Salary or Hourly']).sort_values(by='Hourly',ascending=False)

In [7]:
cross_pay_type.head(1)

Salary or Hourly  Hourly  Salary
Department
STREETS & SAN       1862     336

In [8]:
# selecting salaried employees
salary_employees = salaries[salaries['Salary or Hourly'] == 'Salary']

In [9]:
# select hourly employees
hourly_employees = salaries[salaries['Salary or Hourly'] == 'Hourly']

In [10]:
salary_employees.shape

(25161, 8)

In [11]:
# counting the number of missing values of 'Hourly Rate'
salary_employees['Hourly Rate'].value_counts()
# all missing values

Series([], Name: Hourly Rate, dtype: int64)

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [12]:
salaries['Department'].value_counts().head()

POLICE           13414
FIRE              4641
STREETS & SAN     2198
OEMC              2102
WATER MGMNT       1879
Name: Department, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

How to identify the kind of hypothesis test we have to choose?
* 1. Type of variable:
    > * categorical or numerical variable
* 2. Number of samples that will be compared
    > * 1sample: compare the result with a kpi/ milestone
    > * 2sample: compare the result with a control/ treat group or A/B test
    > * 2 or more samples
    
!['title](https://scontent.fsdu17-1.fna.fbcdn.net/v/t1.0-9/67806604_2816188055064914_3051626967351689216_n.jpg?_nc_cat=107&_nc_oc=AQnRb2UAy7iN0gt-avcntDySYOejBn_4j4xYNfezRmo3N9bvPbrMPhL56Ax2w3hty3w&_nc_ht=scontent.fsdu17-1.fna&oh=e1aaa2faf8accbf9abfd8c1c8a770c8a&oe=5DE08AA5)

Source (https://drive.google.com/file/d/1QLUjutIaDBNd8q_PDlOQdWzRV0tFCVSq/view)

__After selecting the type of test, let's select the if it is a one or two tail test__
1. Greater and higher than: one tail
2. Different from: two tails

!['title](https://s3-us-west-2.amazonaws.com/courses-images/wp-content/uploads/sites/1729/2017/04/15032352/m8_inference_one_proportion_topic_8_3_m8_hypo_testing_for_proportion_2_image5.png)

In [13]:
# This is a two-sided test for the null hypothesis that the expected value (mean) of a sample 
# of independent observations is equal to the given population mean.
from scipy.stats import ttest_1samp

__Let's answer the question about for the 'Hourly Rate' variable:__
1. It is a numerical column
2. Compare the result with a KPI -- in this case 30/hour -- which means it is a 1sample test

__Hypothesis__:
* Ho: the mean hourly wage is equal to 30/h
* Ha: the mean hourly wage is different to 30/h

In [14]:
# select the 'hourly rate' from hourly employees
hourly_rate = salaries[salaries['Salary or Hourly'] == 'Hourly']['Hourly Rate']

In [15]:
hourly_rate.head()

4     19.86
6     46.10
7     35.60
10     2.65
18    17.68
Name: Hourly Rate, dtype: float64

In [16]:
# consider alpha = 0.05
alpha = 0.05

In [17]:
# call ttest_1samp() passing the hourly_rate and 30 as a parameter
ttest_hourly, p = ttest_1samp(hourly_rate, 30)

In [30]:
print('Statistic: ', ttest_hourly)
print('p-value: ', p)

Statistic:  20.6198057854942
p-value:  3.3378530564707717e-21

In [31]:
print('ttest_1samp stats', ttest_hourly)
print('p-value: ', p)

if p > alpha:
    print('Do not reject null hypothesis')
else:
    print('Reject null hypothesis')

ttest_1samp stats 20.6198057854942
p-value:  3.3378530564707717e-21
Reject null hypothesis

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [33]:
# TWO TAILED TEST - OPTION 1
# H0: Salaries = 86000/year 
# H1: Salaries > 86000/year 

alpha = 0.05;
police_filtered = salaries[(salaries['Salary or Hourly'] == 'Salary') & (salaries['Department'] == 'POLICE')]
police_salaries = police_filtered['Annual Salary']
st, p = ttest_1samp(police_salaries, 86000)

if p < alpha:
    print("Null hypothesis rejected")
    if st < 0:
        print("The mean salary this year is lower than last year's mean")
    else: 
        print("The mean salary this year is greater than last year's mean")
else:
    print("Null hypothesis can't be rejected")
    
print('Statistic: ', st)
print('p-value: ', p)

Null hypothesis rejected
The mean salary this year is greater than last year's mean
Statistic:  3.081997005712994
p-value:  0.0020603403550965137

In [34]:
# ONE TAILED TEST  - OPTION 2
# Ho: the salaries this year are less or equal than last year's mean of $86000/year for salaried employees.
# Ha: the salaries this year are greater than last year's mean of $86000/year for salaried employees.

alpha = 0.05;
police_filtered = salaries[(salaries['Salary or Hourly'] == 'Salary') & (salaries['Department'] == 'POLICE')]
police_salaries = police_filtered['Annual Salary']
st, p_two_tailed = ttest_1samp(police_salaries, 86000)

p_one_tailed = p_two_tailed / 2

if p_one_tailed < alpha and st > 0:
    print("Null hypothesis rejected")
    print("The mean salary this year is greater than last year's mean")
else:
    print("Null hypothesis can't be rejected")
    
print('Statistic: ', st)
print('p-value: ', p_one_tailed)

Null hypothesis rejected
The mean salary this year is greater than last year's mean
Statistic:  3.081997005712994
p-value:  0.0010301701775482569

Using the `crosstab` function, find the department that has the most hourly workers.

In [35]:
pd.crosstab(salaries['Department'], salaries['Salary or Hourly']).sort_values(by = 'Hourly', ascending = False)

Salary or Hourly       Hourly  Salary
Department
STREETS & SAN            1862     336
WATER MGMNT              1513     366
OEMC                     1273     829
AVIATION                 1082     547
GENERAL SERVICES          765     215
TRANSPORTN                725     415
PUBLIC LIBRARY            299     716
FAMILY & SUPPORT          287     328
CITY COUNCIL               64     347
FINANCE                    44     516
LAW                        40     367
ANIMAL CONTRL              19      62
POLICE                     10   13404
MAYOR'S OFFICE              8      77
BUSINESS AFFAIRS            7     164
CULTURAL AFFAIRS            7      58
COMMUNITY DEVELOPMENT       4     203
HUMAN RESOURCES             4      75
HEALTH                      3     485
PROCUREMENT                 2      90
FIRE                        2    4639
BUDGET & MGMT               2      44
HUMAN RELATIONS             0      16
INSPECTOR GEN               0      87
DoIT                        0      99
LICENSE APPL COMM           0       1
DISABILITIES                0      28
COPA                        0     116
CITY CLERK                  0      84
POLICE BOARD                0       2
BUILDINGS                   0     269
BOARD OF ETHICS             0       8
BOARD OF ELECTION           0     107
TREASURER                   0      22
ADMIN HEARNG                0      39

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [37]:
# TWO TAILED TEST - OPTION 1
# Ho: the mean hourly wage is equal to $35/hour.
# Ha: the mean hourly wage is different to $35/hour.

alpha = 0.05;
streets_filtered = salaries[(salaries['Salary or Hourly'] == 'Hourly') & (salaries['Department'] == 'STREETS & SAN')]
streets_salaries = streets_filtered['Hourly Rate']
st, p = ttest_1samp(streets_salaries, 35)

if p < alpha:
    print("Null hypothesis rejected")
    if st < 0:
        print("The mean hourly wage is lower than $35/hour")
    else: 
        print("The mean hourly wage is greater than $35/hour")
else:
    print("Null hypothesis can't be rejected")
    
print('Statistic: ', st)
print('p-value: ', p)

Null hypothesis rejected
The mean hourly wage is lower than $35/hour
Statistic:  -9.567447887848152
p-value:  3.3378530564707717e-21

In [38]:
# ONE TAILED TEST  - OPTION 2
# Ho: the mean hourly wage is greater or equal than $35/hour.
# Ha: the mean hourly wage is lower than $35/hour.

alpha = 0.05;
streets_filtered = salaries[(salaries['Salary or Hourly'] == 'Hourly') & (salaries['Department'] == 'STREETS & SAN')]
streets_salaries = streets_filtered['Hourly Rate']
st, p_two_tailed = ttest_1samp(streets_salaries, 35)

p_one_tailed = p_two_tailed / 2

if p_one_tailed < alpha and st < 0:
    print("Null hypothesis rejected")
    print("The mean hourly wage is lower than $35/hour")
else:
    print("Null hypothesis can't be rejected")
    
print('Statistic: ', st)
print('p-value: ', p_one_tailed)

Null hypothesis rejected
The mean hourly wage is lower than $35/hour
Statistic:  -9.567447887848152
p-value:  1.6689265282353859e-21

# Challenge 3 - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [39]:
from scipy.stats import t, sem

# Variables
conf_lvl = 0.95;
deg_fr = len(hourly_rate) - 1
mean = np.mean(hourly_rate)
sm = sem(hourly_rate)

# Confidence interval
t.interval(conf_lvl, df=deg_fr, loc=mean, scale=sm)

(32.52345834488425, 33.05365708767623)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [40]:
# Variables
conf_lvl = 0.95;
deg_fr = len(police_salaries) - 1
mean = np.mean(police_salaries)
sm = sem(police_salaries)

# Confidence interval
t.interval(conf_lvl, df=deg_fr, loc=mean, scale=sm)

(86177.05631531784, 86795.77269094894)

# Challenge 4 - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [41]:
from statsmodels.stats.proportion import proportions_ztest

In [43]:
# Ho: the proportion of hourly workers is equal to 25%.
# Ha: the proportion of hourly workers is different to 25%.

alpha = 0.05;

st, p = proportions_ztest(count=salaries['Salary or Hourly'].value_counts()['Hourly'], nobs=salaries.shape[0], value=0.25)

print("Null hypothesis rejected") if p < alpha else print("Null hypothesis can't be rejected")

print('Statistic: ', st)
print('p-value: ', p)

Null hypothesis rejected
Statistic:  -3.5099964213703005
p-value:  0.0004481127249057967