# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [762]:
# import numpy and pandas

import numpy as np
import pandas as pd

# Challenge 1 - Index Functions

In this challenge, we will practice the advanced functions introduced in the lesson. However, before we start, we will load and evaluate our dataset.

In [763]:
admissions = pd.read_csv('../Admission_Predict.csv')

#to remove trailing spaces at the end of the column names
admissions.columns = admissions.columns.str.rstrip()

Let's evaluate the dataset by looking at the `head` function.

In [764]:
admissions.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90

Before beginning to work with this dataset and evaluating graduate admissions data, we will verify that there is no missing data in the dataset. Do this in the cell below.

In [765]:
admissions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 385 entries, 0 to 384
Data columns (total 9 columns):
Serial No.           385 non-null int64
GRE Score            385 non-null int64
TOEFL Score          385 non-null int64
University Rating    385 non-null int64
SOP                  385 non-null float64
LOR                  385 non-null float64
CGPA                 385 non-null float64
Research             385 non-null int64
Chance of Admit      385 non-null float64
dtypes: float64(4), int64(5)
memory usage: 27.1 KB

Interestingly, there is a column that uniquely identifies the applicants. This column is the serial number column. Instead of having our own index, we should make this column our index. Do this in the cell below. Keep the column in the dataframe in addition to making it an index.

In [766]:
admissions.index = admissions['Serial No.']

In [767]:
admissions.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
Serial No.,,,,,,,,,
1,1,337,118,4,4.5,4.5,9.65,1,0.92
2,2,316,104,3,3.0,3.5,8.00,1,0.72
3,3,322,110,3,3.5,2.5,8.67,1,0.80
4,4,314,103,2,2.0,3.0,8.21,0,0.65
5,5,330,115,5,4.5,3.0,9.34,1,0.90

Turns out that `GRE Score` and `CGPA` also uniquely identify the data. Show this in the cell below.

In [768]:
admissions['GRE Score'].shape

(385,)

In [769]:
admissions['GRE Score'].value_counts().shape

(49,)

In [770]:
admissions['CGPA'].shape

(385,)

In [771]:
admissions['CGPA'].value_counts().shape

(168,)

In [772]:
admissions[['CGPA', 'GRE Score']].duplicated().sum()

0

Replace the index with an index comprised of two columns - `GRE Score` and `CGPA`. Remove the columns from the dataset as well. Make sure to use `inplace=True`.

Now change the index back to a sequence starting at zero using the `reset_index` function. Make sure to use `inplace=True`.

In [773]:
admissions.set_index(['CGPA', 'GRE Score'], inplace=True)

In [774]:
admissions.columns

Index(['Serial No.', 'TOEFL Score', 'University Rating', 'SOP', 'LOR',
       'Research', 'Chance of Admit'],
      dtype='object')

In [775]:
admissions.head(1)

,,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
CGPA,GRE Score,,,,,,,
9.65,337,1,118,4,4.5,4.5,1,0.92

In [776]:
admissions.reset_index(inplace=True)

In [777]:
admissions.head(1)

,CGPA,GRE Score,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
0,9.65,337,1,118,4,4.5,4.5,1,0.92

# Challenge 2 - Advanced Functions

In this part of the lab, we would like to test complex conditions on the entire dataset at once. Let's start by finding the number of rows where the CGPA is higher than 9 and the student has conducted research.

In [778]:
# Method 1: creating a filter with bitwise operators
admissions[(admissions['CGPA'] > 9) & (admissions['Research'] == 1)].shape[0]

101

###### eval()
* https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.eval.html

In [779]:
# Method 2: create a query with filter criteria
query_string = 'CGPA > 9 & Research ==1'

In [780]:
# create a boolean mask_string
mask_string = admissions.eval(query_string)

In [781]:
# passing the mask_string in order to subset the dataset
admissions[mask_string].shape[0]

101

In [782]:
# Method 3
# passing the query_string over the query() method
admissions.query(query_string).shape[0]

101

###### eval() x query()
* https://jakevdp.github.io/PythonDataScienceHandbook/03.12-performance-eval-and-query.html

Now return all the rows where the CGPA is greater than 9 and the SOP score is less than 3.5. Find the mean chance of admit for these applicants.

In [783]:
# Method 1: creating a filter with bitwise operators
admissions[
    (admissions['CGPA'] > 9) & (admissions['SOP'] < 3.5)
]

,CGPA,GRE Score,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
28,9.40,338,29,118,4,3.0,4.5,1,0.91
62,9.02,327,63,114,3,3.0,3.0,0,0.61
140,9.11,326,141,114,3,3.0,3.0,1,0.83
217,9.01,324,218,111,4,3.0,3.0,1,0.82
381,9.11,325,382,107,3,3.0,3.5,1,0.84

In [784]:
# Method 2: use a query_string as an argument for eval()
query_string = ('CGPA > 9 & SOP < 3.5')
admissions[admissions.eval(query_string)]

,CGPA,GRE Score,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
28,9.40,338,29,118,4,3.0,4.5,1,0.91
62,9.02,327,63,114,3,3.0,3.0,0,0.61
140,9.11,326,141,114,3,3.0,3.0,1,0.83
217,9.01,324,218,111,4,3.0,3.0,1,0.82
381,9.11,325,382,107,3,3.0,3.5,1,0.84

###### Note that while eval() returns a boolean mask, query() returns the filtered data

In [785]:
# Method 3: using query_string as an argument for query
admissions.query(query_string)

,CGPA,GRE Score,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
28,9.40,338,29,118,4,3.0,4.5,1,0.91
62,9.02,327,63,114,3,3.0,3.0,0,0.61
140,9.11,326,141,114,3,3.0,3.0,1,0.83
217,9.01,324,218,111,4,3.0,3.0,1,0.82
381,9.11,325,382,107,3,3.0,3.5,1,0.84

We would like to create a deciding factor column for each student. We standardize several columns and then pick the most important factor from a lookup table. If the standardized value is above 0.8, the student will be accepted.

We will start by creating a standardized column for `CGPA`, `GRE Score` and `LOR`. We will name these columns `CGPA_std`, `GRE_std`, and `LOR_std` respecively.

Recall that standardizing a column is done by subtracting the mean of the column from all observations in the column and then dividing each observation in the column by the column's standard deviation.

In the cell below, write a standardization function (a function that takes a column as input and returns a standardized column as output). Make sure to use the `numpy` versions of mean and standard deviation.

In [786]:
def standardize(col):
    # This function takes a column from a dataframe and returns a standardized column by subtracting the column's mean
    # and dividing by the column's standard deviation.
    
    return (col-col.mean()) / col.std()

Now create the standardized columns `CGPA_std`, `GRE_std`, and `LOR_std` and add them to the `admissions` dataframe.

In [787]:
# Method 1: assign new columns with the standart values
admissions['CGPA_std'] = standardize(admissions['CGPA'])
admissions['GRE_std'] = standardize(admissions['GRE Score'])
admissions['LOR_std'] = standardize(admissions['LOR'])

In [788]:
admissions.head(1)

,CGPA,GRE Score,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,CGPA_std,GRE_std,LOR_std
0,9.65,337,1,118,4,4.5,4.5,1,0.92,1.7479,1.753381,1.191647

Assign new columns
* https://pandas.pydata.org/pandas-docs/version/0.22/generated/pandas.DataFrame.assign.html

In [789]:
# Method 2
admissions = admissions.assign(
    CGPA_std = standardize(admissions['CGPA']),
    GRE_std = standardize(admissions['GRE Score']),
    LOR_std = standardize(admissions['LOR'])
)

In [790]:
admissions.head(1)

,CGPA,GRE Score,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,CGPA_std,GRE_std,LOR_std
0,9.65,337,1,118,4,4.5,4.5,1,0.92,1.7479,1.753381,1.191647

In [791]:
# Method 3: creating a dictionary while keys are the currenty columns and the values are the new ones
dict_value = {'CGPA': 'CGPA_std', 
             'GRE Score': 'GRE_std',
             'LOR': 'LOR_std'}

In [792]:
for i, j in dict_value.items():
    admissions[j] = standardize(admissions[i])

In [793]:
admissions.head(1)

,CGPA,GRE Score,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,CGPA_std,GRE_std,LOR_std
0,9.65,337,1,118,4,4.5,4.5,1,0.92,1.7479,1.753381,1.191647

We will generate the decision choice at random using the code below. Please run the cell.

In [794]:
from random import choices

In [795]:
std_columns = ['CGPA_std', 'GRE_std', 'LOR_std']

In [796]:
decision_choice = choices(std_columns, 
  # Return a k sized list of population elements chosen with replacement
                          k=admissions.shape[0])

In [797]:
pd.Series(decision_choice).value_counts()

LOR_std     133
GRE_std     127
CGPA_std    125
dtype: int64

In [798]:
decision_choice[0:5]

['LOR_std', 'CGPA_std', 'LOR_std', 'CGPA_std', 'CGPA_std']

Now create the deciding column using the `lookup` function. The lookup column is `decision_choice` found above. Call the column resulting from the lookup function `deciding_column` and add it to the `admissions` dataframe.

In [799]:
admissions['deciding_column'] = admissions.lookup(
    # row label
    row_labels=admissions.index,
    # column label
    col_labels=decision_choice)

In [800]:
admissions.deciding_column.head()

0    1.191647
1   -0.991211
2   -1.038166
3   -0.642597
4    1.233279
Name: deciding_column, dtype: float64

In [801]:
# we can use a for loop instad of lo
list_lookup = []
for row, col in zip(admissions.index, decision_choice):
    list_lookup.append(admissions.get_value(row, col))

/Users/liviaclarete/.pyenv/versions/dataAnalysis/lib/python3.6/site-packages/ipykernel_launcher.py:4: FutureWarning: get_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  after removing the cwd from sys.path.

In [802]:
list_lookup[0:10]

[1.1916466869650266,
 -0.9912109177597807,
 -1.038166068716797,
 -0.642596846501391,
 1.2332788702699347,
 -0.6591975165613169,
 -1.1572176183590126,
 -0.9912109177597807,
 0.5422156069678666,
 0.8882628654554395]

Create a column called `decision` in the `admissions` dataframe. Assign 1 to this column if the value of `deciding_column` is greater than 0.8 and 0 otherwise.

In [803]:
# Method 1: list comprehension with a for loop and an if/else
admissions['decision'] = [1 if x > 0.8 else 0 for x in admissions['deciding_column']]

In [804]:
admissions.decision.head()

0    1
1    0
2    0
3    0
4    1
Name: decision, dtype: int64

In [805]:
# Method 2: np.where
admissions['decision'] = np.where(
    admissions.deciding_column > 0.8, 1, 0)

In [806]:
admissions.decision.head()

0    1
1    0
2    0
3    0
4    1
Name: decision, dtype: int64

How many applicants will be accepted to the program using the decision column? Compute the result below.

In [807]:
# Method 1
len(admissions[admissions['decision'] == 1])

84

In [808]:
# Method 1.2
admissions[admissions['decision'] == 1].shape[0]

84

In [809]:
# Method 2
sum(admissions.eval('decision == 1'))

84

In [810]:
# Method 3
len(admissions.get(admissions['decision'] == 1))

84

# Challenge 3 - Method Chaining

To increase our coding efficiency, let's make a number of changes to our dataframe in one line of code.

In the cell below, remove all non character symbols from the column names, replace all spaces in column names to underscores, and change all upper case characters to lower case. Assign these new column values to `admissions.columns`.

In [811]:
admissions.columns = admissions.columns.str.replace(
    '[^\w ]', '').str.replace(' ','_').str.lower()

In the cell below, give all student with a university rating of 4 or higher a 10 point boost on their GRE score and split the column into 4 bins using the `cut` function. Assign this new score to the variable `adjusted_gre`.

### np.where()
* A vectorized 'if/else'

In [812]:
# The following code could be replaced by np.where()
prove_where = []
for i, j in zip(admissions['university_rating'], 
                admissions['gre_score']):
    if i >4:
        prove_where.append(j+10)
    else:
        prove_where.append(j)

In [813]:
if_else_prove_where = pd.Series(prove_where)

In [814]:
if_else_prove_where.head()

0    337
1    316
2    322
3    314
4    340
dtype: int64

* Test np.where()

In [815]:
# create a condition with a boolean 
# IF
condition = admissions['university_rating'] > 4

In [816]:
# np.where() returns the index from each value that met the condition
teste_where = np.where(
    # condition: returns a boolean - True or False
    # in this case, returns the values in which 'university_rating' are grater than 4
    # Select elements
    condition,
    # then --- True
    admissions['gre_score'] + 10,
    # else
    admissions['gre_score']
        )

In [817]:
teste_where_serie = pd.Series(teste_where)

In [818]:
teste_where_serie.head()

0    337
1    316
2    322
3    314
4    340
dtype: int64

In [819]:
# compare both series
(teste_where_serie == if_else_prove_where).sum()

385

###### pd.cut()
* https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.cut.html

In [820]:
pd.cut(teste_where_serie,
       # bins represent the number of intervals
       bins=4).head()

0    (335.0, 350.0]
1    (305.0, 320.0]
2    (320.0, 335.0]
3    (305.0, 320.0]
4    (335.0, 350.0]
dtype: category
Categories (4, interval[float64]): [(289.94, 305.0] < (305.0, 320.0] < (320.0, 335.0] < (335.0, 350.0]]

In [821]:
# number of bins and the range in each one
pd.cut(teste_where_serie,
      bins=4).value_counts()

(305.0, 320.0]     155
(320.0, 335.0]     109
(289.94, 305.0]     72
(335.0, 350.0]      49
dtype: int64

In [822]:
# when we include the labels, we return the them instead of the actual bin
pd.cut(teste_where_serie,
       bins=4,
       labels=[1,2,3,4]).head()

0    4
1    2
2    3
3    2
4    4
dtype: category
Categories (4, int64): [1 < 2 < 3 < 4]

In [824]:
# final answer

# create a new variable in admission's dataframe
admissions['adjusted_gre'] = pd.cut(
    np.where(
        # conditon
        admissions['university_rating'] >= 4, 
        # returns if condition is true
        admissions['gre_score'] + 10, 
        # returns if condition is false
        admissions['gre_score']),
    # bins represent the intervals
    bins=4,
    # represents the number of the interval
    labels=[1,2,3,4])

In [825]:
admissions.head(1)

,cgpa,gre_score,serial_no,toefl_score,university_rating,sop,lor,research,chance_of_admit,cgpa_std,gre_std,lor_std,deciding_column,decision,adjusted_gre
0,9.65,337,1,118,4,4.5,4.5,1,0.92,1.7479,1.753381,1.191647,1.191647,1,4

##### Warning: no.where() is different from df.where() 
* Let's explore an example:

In [529]:
# create a condition with a boolean 
condition = admissions['university_rating'] > 4

In [530]:
# we can apply the condition as a subset
admissions[condition].university_rating.value_counts()

5    57
Name: university_rating, dtype: int64

In [535]:
# return the values where the condition is met
# the other values are replaced by NaN
admissions.where(
    cond = condition).head()

,cgpa,gre_score,serial_no,toefl_score,university_rating,sop,lor,research,chance_of_admit,cgpa_std,gre_std,lor_std,deciding_column,decision,adjusted_gre,adjusted_gre_1
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,9.34,330.0,5.0,115.0,5.0,4.5,3.0,1.0,0.9,1.233279,1.147798,-0.480713,1.233279,1.0,15.0,15.0

In [541]:
admissions.where(
    # include the condition
    cond=condition,
    # replace the NaN values with the assigned value
    other=0
).head()

,cgpa,gre_score,serial_no,toefl_score,university_rating,sop,lor,research,chance_of_admit,cgpa_std,gre_std,lor_std,deciding_column,decision,adjusted_gre,adjusted_gre_1
0,0.00,0,0,0,0,0.0,0.0,0,0.0,0.000000,0.000000,0.000000,0.000000,0,0,0
1,0.00,0,0,0,0,0.0,0.0,0,0.0,0.000000,0.000000,0.000000,0.000000,0,0,0
2,0.00,0,0,0,0,0.0,0.0,0,0.0,0.000000,0.000000,0.000000,0.000000,0,0,0
3,0.00,0,0,0,0,0.0,0.0,0,0.0,0.000000,0.000000,0.000000,0.000000,0,0,0
4,9.34,330,5,115,5,4.5,3.0,1,0.9,1.233279,1.147798,-0.480713,1.233279,1,15,15