# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [62]:
# import numpy and pandas

import numpy as np
import pandas as pd

# Challenge 1 - Index Functions

In this challenge, we will practice the advanced functions introduced in the lesson. However, before we start, we will load and evaluate our dataset.

In [83]:
# Run this code:

admissions = pd.read_csv('../Admission_Predict.csv')
#to remove trailing spaces at the end of the column names
admissions.columns = admissions.columns.str.rstrip()

Let's evaluate the dataset by looking at the `head` function.

In [84]:
# Your code here:

admissions.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90

Before beginning to work with this dataset and evaluating graduate admissions data, we will verify that there is no missing data in the dataset. Do this in the cell below.

In [85]:
# Your code here:

admissions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 385 entries, 0 to 384
Data columns (total 9 columns):
Serial No.           385 non-null int64
GRE Score            385 non-null int64
TOEFL Score          385 non-null int64
University Rating    385 non-null int64
SOP                  385 non-null float64
LOR                  385 non-null float64
CGPA                 385 non-null float64
Research             385 non-null int64
Chance of Admit      385 non-null float64
dtypes: float64(4), int64(5)
memory usage: 27.1 KB

Interestingly, there is a column that uniquely identifies the applicants. This column is the serial number column. Instead of having our own index, we should make this column our index. Do this in the cell below. Keep the column in the dataframe in addition to making it an index.

In [86]:
# Your code here:

admissions.index = admissions['Serial No.']

In [87]:
admissions.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
Serial No.,,,,,,,,,
1,1,337,118,4,4.5,4.5,9.65,1,0.92
2,2,316,104,3,3.0,3.5,8.00,1,0.72
3,3,322,110,3,3.5,2.5,8.67,1,0.80
4,4,314,103,2,2.0,3.0,8.21,0,0.65
5,5,330,115,5,4.5,3.0,9.34,1,0.90

Turns out that `GRE Score` and `CGPA` also uniquely identify the data. Show this in the cell below.

In [88]:
admissions['GRE Score'].shape

(385,)

In [89]:
admissions['GRE Score'].value_counts().shape

(49,)

In [90]:
admissions['CGPA'].shape

(385,)

In [91]:
admissions['CGPA'].value_counts().shape

(168,)

In [92]:
admissions[['CGPA', 'GRE Score']].duplicated().sum()

0

Replace the index with an index comprised of two columns - `GRE Score` and `CGPA`. Remove the columns from the dataset as well. Make sure to use `inplace=True`.

Now change the index back to a sequence starting at zero using the `reset_index` function. Make sure to use `inplace=True`.

In [93]:
admissions.set_index(['CGPA', 'GRE Score'], inplace=True)

In [94]:
admissions.columns

Index(['Serial No.', 'TOEFL Score', 'University Rating', 'SOP', 'LOR',
       'Research', 'Chance of Admit'],
      dtype='object')

In [80]:
admissions.head(1)

,,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
CGPA,GRE Score,,,,,,,
9.65,337,1,118,4,4.5,4.5,1,0.92

In [95]:
admissions.reset_index(inplace=True)

In [96]:
admissions.head(1)

,CGPA,GRE Score,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
0,9.65,337,1,118,4,4.5,4.5,1,0.92

# Challenge 2 - Advanced Functions

In this part of the lab, we would like to test complex conditions on the entire dataset at once. Let's start by finding the number of rows where the CGPA is higher than 9 and the student has conducted research.

In [118]:
# Method 1: creating a filter with bitwise operators
admissions[(admissions['CGPA'] > 9) & (admissions['Research'] == 1)].shape[0]

101

###### eval()
* https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.eval.html

In [132]:
# Method 2: create a query with filter criteria
query_string = 'CGPA > 9 & Research ==1'

In [133]:
# create a boolean mask_string
mask_string = admissions.eval(query_string)

In [134]:
# passing the mask_string in order to subset the dataset
admissions[mask_string].shape[0]

101

In [135]:
# Method 3
# passing the query_string over the query() method
admissions.query(query_string).shape[0]

101

###### eval() x query()
* https://jakevdp.github.io/PythonDataScienceHandbook/03.12-performance-eval-and-query.html

Now return all the rows where the CGPA is greater than 9 and the SOP score is less than 3.5. Find the mean chance of admit for these applicants.

In [121]:
# Method 1: creating a filter with bitwise operators
admissions[
    (admissions['CGPA'] > 9) & (admissions['SOP'] < 3.5)
]

,CGPA,GRE Score,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
28,9.40,338,29,118,4,3.0,4.5,1,0.91
62,9.02,327,63,114,3,3.0,3.0,0,0.61
140,9.11,326,141,114,3,3.0,3.0,1,0.83
217,9.01,324,218,111,4,3.0,3.0,1,0.82
381,9.11,325,382,107,3,3.0,3.5,1,0.84

In [136]:
# Method 2: use a query_string as an argument for eval()
query_string = ('CGPA > 9 & SOP < 3.5')
admissions[admissions.eval(query_string)]

,CGPA,GRE Score,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
28,9.40,338,29,118,4,3.0,4.5,1,0.91
62,9.02,327,63,114,3,3.0,3.0,0,0.61
140,9.11,326,141,114,3,3.0,3.0,1,0.83
217,9.01,324,218,111,4,3.0,3.0,1,0.82
381,9.11,325,382,107,3,3.0,3.5,1,0.84

###### Note that while eval() returns a boolean mask, query() returns the filtered data

In [137]:
# Method 3: using query_string as an argument for query
admissions.query(query_string)

,CGPA,GRE Score,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
28,9.40,338,29,118,4,3.0,4.5,1,0.91
62,9.02,327,63,114,3,3.0,3.0,0,0.61
140,9.11,326,141,114,3,3.0,3.0,1,0.83
217,9.01,324,218,111,4,3.0,3.0,1,0.82
381,9.11,325,382,107,3,3.0,3.5,1,0.84

We would like to create a deciding factor column for each student. We standardize several columns and then pick the most important factor from a lookup table. If the standardized value is above 0.8, the student will be accepted.

We will start by creating a standardized column for `CGPA`, `GRE Score` and `LOR`. We will name these columns `CGPA_std`, `GRE_std`, and `LOR_std` respecively.

Recall that standardizing a column is done by subtracting the mean of the column from all observations in the column and then dividing each observation in the column by the column's standard deviation.

In the cell below, write a standardization function (a function that takes a column as input and returns a standardized column as output). Make sure to use the `numpy` versions of mean and standard deviation.

In [148]:
def standardize(col):
    # This function takes a column from a dataframe and returns a standardized column by subtracting the column's mean
    # and dividing by the column's standard deviation.
    
    return (col-col.mean()) / col.std()

Now create the standardized columns `CGPA_std`, `GRE_std`, and `LOR_std` and add them to the `admissions` dataframe.

In [149]:
# Your code here:

admissions['CGPA'].apply(standardize)

AttributeError: 'float' object has no attribute 'mean'

We will generate the decision choice at random using the code below. Please run the cell.

In [150]:
# Run this code:

from random import choices

In [156]:
std_columns = ['CGPA_std', 'GRE_std', 'LOR_std']

In [157]:
decision_choice = choices(std_columns, k=admissions.shape[0])

In [158]:
decision_choice[0:5]

['GRE_std', 'GRE_std', 'CGPA_std', 'LOR_std', 'GRE_std']

Now create the deciding column using the `lookup` function. The lookup column is `decision_choice` found above. Call the column resulting from the lookup function `deciding_column` and add it to the `admissions` dataframe.

In [11]:
# Your code here:

Create a column called `decision` in the `admissions` dataframe. Assign 1 to this column if the value of `deciding_column` is greater than 0.8 and 0 otherwise.

In [12]:
# Your code here:

How many applicants will be accepted to the program using the decision column? Compute the result below.

In [13]:
# Your code here:

# Challenge 3 - Method Chaining

To increase our coding efficiency, let's make a number of changes to our dataframe in one line of code.

In the cell below, remove all non character symbols from the column names, replace all spaces in column names to underscores, and change all upper case characters to lower case. Assign these new column values to `admissions.columns`.

In [14]:
# Your code here:

In the cell below, give all student with a university rating of 4 or higher a 10 point boost on their GRE score and split the column into 4 bins using the `cut` function. Assign this new score to the variable `adjusted_gre`.

In [15]:
# Your code here: