## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

- random is a Python library that generate pseudo-random numbers
For this propouse, we just wanna save some time selecting a sample of numbers.

* check it out: https://docs.python.org/3/library/random.html

In [7]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

1. first step: create a list of integer using range() and list() functions.

IMPORTANT:
the second argument from the function range() is exclusive, which means that if you want to incluse the number 100, you should consider 101.

2. Select a sample with random.sample() function.

In [31]:
# method 1 to create a list using range()
sample_list_1 = list(range(101))
sample_list_1 = list(range(0, 101))

In [32]:
print(sample_list_1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [33]:
# method 2 to create a list using list comprehention
sample_list_1 = [i for i in range(0, 101)]
sample_list_1 = [i for i in range(101)]

In [34]:
print(sample_list_1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

- Second step
now that we have a list with elements from 0 to 100, let's select a random sample that list using the function sample() from the library random

random.sample() receives two parameters: population and k, accordingly to the documentation:

random.sample(population, k)

- population refers to the total amount of numbers, in this case the sample_list_1, and
- k is the number of elements we want to select

IMPORTANT: be aware of the type of data structure we're handling:
random.sample receives any sequence (list, tuple) or set, but not a dictionary, but returns a list

In [29]:
print(random.sample(sample_list_1, 80))

[74, 78, 68, 44, 69, 93, 94, 36, 41, 10, 90, 13, 63, 67, 88, 86, 95, 26, 51, 16, 33, 18, 50, 100, 89, 84, 37, 6, 8, 81, 30, 59, 14, 21, 96, 76, 83, 73, 80, 45, 22, 5, 60, 0, 27, 1, 64, 4, 85, 57, 55, 54, 98, 7, 29, 70, 99, 82, 66, 77, 11, 71, 31, 15, 39, 91, 56, 23, 25, 43, 53, 9, 75, 61, 87, 58, 42, 32, 2, 72]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [35]:
# calling the set function t
set1 = set(sample_list_1)

In [36]:
print(len(set1))

101

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

- range() is versatile function to create a range of number.

We're familiar with sequencial unique numbers, but there's more possibilities.
Let's explore range() arguments:

- range(start, stop, step)

Documentation can always help: https://docs.python.org/3/tutorial/controlflow.html

And some tutorials as well: https://www.pythoncentral.io/pythons-range-function-explained/

Trying a list of elements from 0 to 500, 50 by 50

In [39]:
print(list(range(0, 500, 50)))

[0, 50, 100, 150, 200, 250, 300, 350, 400, 450]

In [97]:
# now let's create a list from 0 to 5 3 times
print(list(range(5))*3)

[0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4]

In [98]:
sample_list_2 = random.sample(range(0, 100), 80)

In [99]:
print(sample_list_2)

[38, 55, 61, 94, 21, 64, 74, 37, 79, 30, 12, 91, 72, 73, 66, 76, 92, 56, 39, 19, 43, 42, 50, 0, 16, 70, 41, 24, 18, 95, 57, 84, 34, 26, 35, 53, 48, 8, 4, 88, 13, 31, 98, 99, 29, 25, 2, 23, 36, 86, 5, 58, 52, 82, 59, 78, 7, 89, 77, 87, 49, 51, 71, 54, 68, 22, 27, 33, 96, 6, 46, 83, 44, 80, 93, 69, 20, 85, 10, 60]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [100]:
# Your code here
set2 = (set(sample_list_2))

In [101]:
print(set2)

{0, 2, 4, 5, 6, 7, 8, 10, 12, 13, 16, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 29, 30, 31, 33, 34, 35, 36, 37, 38, 39, 41, 42, 43, 44, 46, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 64, 66, 68, 69, 70, 71, 72, 73, 74, 76, 77, 78, 79, 80, 82, 83, 84, 85, 86, 87, 88, 89, 91, 92, 93, 94, 95, 96, 98, 99}

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [102]:
# list comprehension that iterate through set1 and return the elemtns not present in set2
set3 = set([i for i in set1 if i not in set2])

In [103]:
print(set3)

{1, 3, 9, 11, 14, 15, 17, 28, 32, 40, 45, 47, 62, 63, 65, 67, 75, 81, 90, 97, 100}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [104]:
set4 = set([i for i in set2 if i not in set1])

In [105]:
print(set3)

{1, 3, 9, 11, 14, 15, 17, 28, 32, 40, 45, 47, 62, 63, 65, 67, 75, 81, 90, 97, 100}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [ ]:
set5 =

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [ ]:
# Your code here

#### Create an empty set called `set6`.

In [108]:
# Your code here
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [ ]:
# Your code here

#### Check if `set1` and `set6` are equal.

In [ ]:
# Your code here

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [ ]:
# Your code here

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [ ]:
# Your code here

#### Using the `pop` method, remove the first element from `set1`.

In [ ]:
# Your code here

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [ ]:
# Your code here